{% extends 'posts/base.html' %}
{% load static %}

{% block style %}
    .fa {
    padding-right:10px
    }

    .mailForm{
    z-index: 10;
    }

    .just-glyph {
    padding-left:15px
    }

    .voteup {
    color:green;
    text-shadow: black 2px 2px 5px;
    }

    .votedown{
    color: red;
    text-shadow: black 2px 2px 5px;
    }

    .voteForm button  {
    -moz-outline-style: none;
    outline:none;
    outline:0;
    padding-top:10px;
    background-color:transparent;
    border:none;
{#    font-size:30px;#}
{#    float:right;#}
    color:#333333;
    }
{% endblock %}

{% block title %}
    Home
{% endblock %}


{% block active_home %}
    class='active'
{% endblock %}

{% block content %}
    <div class="container-full">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-3">
            <div class="row" style="margin-bottom: 30px">
                <a href="{% url 'home' %}" class="btn btn-sm btn-info" role="button">New posts</a>
                <a href="{% url 'home_top' %}" class="btn btn-sm btn-info" role="button">Top rated posts</a>
                <a href="{% url 'home_old' %}" class="btn btn-sm btn-info" role="button">Old posts</a>
            </div>
            <h1>Tidjei's blog</h1>
            <form method="GET" action="">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." name="q"
                           value="{{ request.GET.q }}"/>
                <span class="input-group-btn">
                <input type="submit" class="btn btn-info" value="Search"/>
                    </span>
                </div>
            </form>
        </div>


{#------------------------------------------#}
            {% if user.is_authenticated %}
            <div class="col-sm-1 col-sm-offset-1">
                <div class="thumbnail">
                    {% if user.profilemodel.avatar %}
                        <img class="img-responsive user-photo" src="{{ user.profilemodel.avatar.url }}">
                    {% else %}
                        <img class="img-responsive user-photo" src="{% static 'posts/img/unregistered.png' %}">
                    {% endif %}
                </div><!-- /thumbnail -->
            </div><!-- /col-sm-1 -->

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><span class="text-muted">{{ user }}</span></strong>
{#                        <a href="{% url 'profile' %}">Settings </a><i class="fa fa-cog"></i>#}
                    </div>
                    <div class="panel-body">
                        <i class="fa fa-line-chart"></i> Rating: {{ user.profilemodel.get_user_score }}<br>
                        <i class="fa fa-pencil-square-o"></i> Posts: {{ user.profilemodel.get_posts_count }} <br>
                        <i class="fa fa-commenting-o"></i>Comments:{{ user.profilemodel.get_comment_count }}<br>
                        <i class="fa fa-calendar"></i>Together:{{ user.date_joined|timesince }}<br>
                        <i class="fa fa-envelope-o"></i> <a href="{% url 'my_mails' %}">My messages: <span class="badge">{{ user.profilemodel.get_mail_count}}</span></a><br>

                        <a style="margin-top: 5px" href="{% url 'create' %}" class="btn btn-success" role="button">Create a Post</a>
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
            {% endif %}
{#------------------------------------------#}




        <div class="col-sm-6 col-sm-offset-3">
            {% if not request.user.is_authenticated %}
{#                <a style="margin-top: 20px" href="{% url 'create' %}" class="btn btn-success" role="button">Create a#}
{#                    Post</a>#}
{#            {% else %}#}
                <button style="margin-top: 20px" type="button" class="btn btn-danger" data-toggle="modal"
                        data-target=".bs-example-modal-sm">
                    Create a Post
                </button>
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                     aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Access error</h4>
                            </div>
                            <div class="modal-body">
                                <p> You must be <a href="{% url 'auth_login' %}"> logged in </a> to
                                    create a post.<br>
                                    Do you wanna <a href="{% url 'registration_register' %}">
                                        register?</a></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>



    {% for i in model_title %}
        <div class="row" style="margin-top: 50px">

            <div class="col-sm-2 forVote" id="post_{{ i.id }}">   {#  .forVote, div in JS #}
                <form class="voteForm" method="POST">{% csrf_token %}  {# .voteForm in Jquery AJAX #}
                    <input hidden name="vote_up" value="{{ i.id }}">
                    <button type="submit" class="just-glyph plus"> {# .just-glyph, plus in JS #}
                        <i class="fa fa-plus fa-2x"></i>           {# children('i') in JS #}
                    </button>
                </form>

                <strong>Rating:</strong> <strong id="rating_{{ i.id }}"> {{ i.get_rating }}</strong>  {# id='rating_/d' in Jquery AJAX #}
                <br>

                <form class="voteForm" method="POST">{% csrf_token %}   {# .voteForm in Jquery AJAX #}
                    <input hidden name="vote_down" value="{{ i.id }}">
                    <button type="submit" class="just-glyph minus">  {# .just-glyph, .minus in JS #}
                        <i class="fa fa-minus fa-2x"></i>            {# children('i') in JS #}
                    </button>
                </form>
            </div>


            <div class="col-sm-10">
                <h3>{{ i.title }}</h3> <br>
                        <small>{{ i.updated|timesince }} ago</small>

{# -------------------------------hidden mail_to------------------------------------------------#}
                <div id="mail_{{ i.id }}" data-id="{{ i.user.id }}" class="col-sm-6 col-sm-offset-2 mailForm"
                     style="display: none; position: absolute; background-color: rgba(47, 88, 121, 0.60)"> {# #mail_/d, .mailForm in JS #}
                    <form  class="form-horizontal mailForm" method="POST" data-id="{{ i.user.id }}">{% csrf_token %}   {# .mailForm in JS #}
                        <div class="form-group">
                            <label for="name" class="col-sm-4 control-label">Send to</label>
                            <div class="col-sm-5" style="margin-top: 10px">
                                <strong>{{ i.user }}</strong>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-sm-12">
                                <textarea class="form-control" rows="5" id="message" name="content"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-6">
                                <input name="submit" type="submit" value="Send" class="btn btn-primary">
                                <input name="close" value="Close" type="button" class="btn btn-danger closeMail"> {# input.closeMail in JS #}
                            </div>
                        </div>
                    </form>
                </div>
{# end --------------------------hidden mail_to------------------------------------------------#}

                    <p>Author:<a href="{% url 'view_profile' i.user.id %}"> {{ i.user }} </a> <a href="{% url 'mail_to' i.user.id %}"> <i data-postid="{{ i.id }}" data-userid="{{ i.user.id }}"  class="mail_to fa fa-envelope-o"></i></a></p>


                <div class="thumbnail">
                    {% if i.image %}
                        <img src="{{ i.image.url }}" class="img-responsive"/>
                    {% endif %}

                    <div class="caption">
                        <p>{{ i.content|linebreaks|truncatechars:600 }}</p>
                        <p><a href="{{ i.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
                            {% if request.user == i.user or request.user.is_superuser %}
                                <a href="{% url 'update' i.id %}" class="btn btn-info"
                                   role="button">Edit</a>
                                <a href="{% url 'delete' i.id %}" class="btn btn-warning" role="button">Delete</a>
                                </p>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{##}
{##}
{# OLD default PAGINATOR #}
{#    <div class="row">#}
{#        <div class="col-sm-6 col-sm-offset-5">#}
{#            <div class="pagination">#}
{##}
{#    <span class="step-links">#}
{#        {% if model_title.has_previous %}#}
{#            <a href="?page={{ model_title.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>#}
{#        {% endif %}#}
{##}
{#        <span class="current">#}
{#            Page {{ model_title.number }} of {{ model_title.paginator.num_pages }}.#}
{#        </span>#}
{##}
{#        {% if model_title.has_next %}#}
{#            <a href="?page={{ model_title.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>#}
{#        {% endif %}#}
{#    </span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



    <div class="row">
        <div class="col-sm-6 col-sm-offset-5">
            <ul class="pagination">

                {% if model_title.has_previous %}
                <li class="page-item">

                    <a class="page-link" href="?page={{ model_title.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}

                {% for p in model_title.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ forloop.counter }}</a></li>
                {% endfor %}

                {% if model_title.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ model_title.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                    {% endif %}

                </li>
            </ul>
        </div>
    </div>
{% endblock %}