{% extends 'posts/base.html' %}
{% load static %}

{% block title %}
    {{ user_profile }}
{% endblock %}


{% block content_title %}
    <div class=" container-fluid" style="margin-top: -20px">
        <div class="jumbotron">
            <h2 class="text-center">{{ user_profile }} profile</h2>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="col-sm-6 blog-main" style="margin-top: 50px">
        <ul class="list-group">
            <li class="list-group-item"> Username - {{ user_profile }} </li>
            <li class="list-group-item"> First name - {{ user_profile.first_name }} </li>
            <li class="list-group-item"> Last name - {{ user_profile.last_name }} </li>
            <li class="list-group-item"> Gender - {{ user_profile.get_gender_display }} </li>
        </ul>
    </div>
    <div class="col-sm-4 col-sm-offset-2  blog-main" style="margin-top: 50px">
        {% if user_profile.avatar %}
            <img src="{{ user_profile.avatar.url }}" class="img-responsive"/>
        {% else %}
            <img src="{% static 'posts/img/unregistered.png' %}" class="img-responsive"/>
        {% endif %}
        <br>
        Date of join Tidjei's blog: <br>
        {{ user_profile.user.date_joined|date }} <br>
        Total user's posts rating: {{ user_profile.get_user_score }}
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h2>Posts:</h2>
        </div>
    </div>

    {% for i in user_post %}
{#        <div class="row" style="margin-top: 50px">#}
{#            <div class="col-sm-10 col-sm-offset-1">#}
{#                <div class="thumbnail">#}
{#                    <h3>{{ i.title }} <br>#}
{#                        <small>{{ i.updated|timesince }} ago</small>#}
{#                    </h3>#}
{#                    <p>Author:<a href="{% url 'view_profile' i.user.id %}"> {{ i.user }} </a></p>#}
{#                    {% if i.image %}#}
{#                        <img src="{{ i.image.url }}" class="img-responsive"/>#}
{#                    {% endif %}#}
{##}
{#                    <div class="caption">#}
{#                        <p>{{ i.content|linebreaks|truncatechars:500 }}</p>#}
{#                        <p><a href="{{ i.get_absolute_url }}" class="btn btn-primary" role="button">View</a>#}
{#                            {% if request.user == i.user or request.user.is_superuser %}#}
{#                                <a href="{% url 'update' i.id %}" class="btn btn-info"#}
{#                                   role="button">Edit</a>#}
{#                                <a href="{% url 'delete' i.id %}" class="btn btn-warning" role="button">Delete</a>#}
{#                                </p>#}
{#                            {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        {% include 'posts/view_post_list.html' %}
    {% endfor %}
{% endblock %}